vpc_cidr             = "11.0.0.0/16"
vpc_name             = "dev_proj_1_jenkins_vpc"
cidr_public_subnet   = ["11.0.1.0/24", "11.0.2.0/24"]
ap_availability_zone = ["ap-south-1a", "ap-south-1b"]
cidr_private_subnet  = ["11.0.3.0/24", "11.0.4.0/24"]


public_key = "key-public"
ec2_ami_id = "ami-07f07a6e1060cd2a8"